html {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

body {
    margin: 0;
    background-color: white;
    padding: 0;
}

header {
    background-color: transparent;
}

#top_bar {
    height: 6rem;
    overflow: hidden;
    width: 100%;
    padding: 1rem 0;
    position: absolute;
    z-index: 10;
}

#page_header {
    display: inline-block;
    padding: 0.8rem 4rem;
    margin: 0;
    color: black;
    font-weight: 900;
    font-size: 60px;
    border-radius: 2px;
}


.hero {
    background-color: white;
    overflow: hidden;
}

.horizontal_spacer {
    width: 5%;
    display: inline-block;
}

.vertical_spacer {
    height: 5%;
    display: block;
}

.hero_wrapper {
    position: static;
    background-color: white;
    margin: 0 auto;
    min-width: 700px;
}

#hero_text_container {
    width:min-content;
    background-color: transparent;
    left: 0;
    right: 0;
    margin: 16% -20% 4% 6.5%;
    z-index: 2;
    position: absolute;
}

#hero_text1, #hero_text2, #hero_text3 {
    
    font-size: 88px;
    font-weight: 900;
    display: inline;
    margin: 0.1rem 0rem;
    padding: 0 3.5rem;
    font-style: italic;
    text-align: left;
    color: white;
}

#hero_text1 {
    transition: all 0.2s ease;
    background-color: black;
    margin: -0.2rem 0 0 16%;
}
#hero_text2 {
    transition: all 0.2s ease;
    background-color: black;
    margin: -0.2rem 0 0 8%;
}
#hero_text3 {
    transition: all 0.2s ease;
    background-color: black;
    margin: -0.2rem 0 0 0;
}

#hero_text1:hover, #hero_text2:hover, #hero_text3:hover {
    color: white;
    background-color: black;
    font-size: 92px;
}

#hero_img {
    position: relative;
    float: right;
    overflow: hidden;
    height: 60rem;
    width: 64rem;
    background-image: url("img/me_sport.jpg");
    background-size: cover;
    background-position:top;
    z-index: 1;
    margin-top: 2rem;
}

#hero_img p {
    float: right;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 20px;
    margin: 52rem 3rem 6rem 0rem;
}

#skewed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-width: 0 0 1500px 100px;
    border-color: white white transparent white;
    border-style: solid;
}

#skewed2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-width: 100px 1500px 0 0;
    border-color: white transparent transparent transparent;
    border-style: solid;  
}

.aboutme {
    background-color: black;
    color: white;
    height: fit-content;
}

.aboutme h1 {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    text-overflow: clip;
    margin: 0 auto;
    padding: 6rem 0 4rem 0;
    background-color: black;
}

.display_card h2{
    text-align: center;
    font-size: 28px;
    margin: 0.5rem 0 0.4rem 0;
    padding: 1.1rem 1.5rem;
    display: inline-block;
    background-color: black;
    font-weight: 900;
    color: white;
}

.display_card {
    transition: all 0.2s ease;
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 0.2rem;
    width: 24rem;
    margin: 1rem 2rem;
    display: inline-block;
    text-align: center;
    min-width: 24rem;
    min-height: 24rem;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.display_card p {
    text-align: left;
    font-size: 20px;
    line-height: 1.58;
}

.display_card:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.display_card:hover h2 {
    color: black;
    background-color: white;
}

.card_container {
    padding-top: 2rem;
    padding-bottom: 6rem;
}

#current_proj_img {
    width: 258px;
}

.card_line {
    display: block;
    text-align: center;
    padding: 0 0 2rem 0;
    align-items: center;
    justify-content: center;
}

#tech_stack {
    width: auto;
    margin-top: 3rem;
    min-height: 0;
    max-width: 1428px
}

#tech_stack img {
    display: inline-block;
    margin: 1rem 1rem;
}

#css {
    width: 70px;
}

#git {
    width: 90px;
}

#html {
    width: 105px;
}

#java {
    width: 90px;
}

#javascript {
    width: 90px;
}

#mongodb {
    width: 50px;
}

#mysql {
    width: 110px;
}

#python {
    width: 90px;
}

#react {
    width: 100px;
}

#tux {
    width: 85px
}

#aws{
    width: 110px;
}

#solidity {
    width: 60px;
}

#firebase {
    width: 65px
}

#nodejs {
    width: 90px;
}

#graphql {
    width: 90px;
}

.experience {
    background-color: white;
    padding-bottom: 4rem;
}

#experience_header {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    text-overflow: clip;
    margin: 0 auto;
    padding: 6rem 0 2rem 0;
    color: black;
}

.experience_item {
    transition: all 0.2s ease;
    margin: 4rem 8%;
    padding: 2rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.2rem;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    min-height: 14rem;
}

.experience_item img {
    display: inline-block;
    position: absolute;
    margin: 0 0;
    padding: 0;
    left: 200px;

}

.text_experience_container {
    display: inline-block;
    vertical-align: middle;
    padding: 0 auto;
    text-align: left;
    margin-left: 300px;
}

.text_experience_container p {
    font-size: 20px;
    line-height: 2;
}

.text_experience_container .role{
    text-align: right;
    font-style: italic;
    font-weight: 400;
}

#hermes img {
    width: 200px;
}

#arkp img {
    width: 200px;
}

#vyba img {
    width: 200px;
}

#hermes:hover, #arkp:hover, #vyba:hover {
    background-color: black;
    color: white;
    margin: 3rem 7.5%;
    padding: 1.5rem;
    text-align: center;
    border-radius: 0.2rem;
    font-size: 24px;
}


.hire_me{
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

#hire_black {
    background-color: black;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
}

#hire_black p {
    margin-top: 4rem;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

#hire_hero {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    text-overflow: clip;
    margin: 0 auto;
    padding: 4rem 0;
    color: white;
}

.hire_me img {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#links {
    margin-top: 4rem;
    display: block;
}

#links a {
    transition: all 0.2s ease;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 30px;
    border-style: solid;
    border-color: white;
    font-style: normal;
    font-weight: 400;
    padding: 1rem 4rem;
    margin: 1rem 5rem;
}

#links a:hover {
    background-color: white;
    color:black
}

#coding {
    background-image: url("img/coding.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 300px;
}

#coding div {
    background-color: rgba(27, 27, 27, 0.4);
    height: 300px;
    width: 100%;
}


#btp {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    font-style: bold;
    text-align: center;
    background-color: white;
    color: black;
    padding: 2rem;
    margin: 2rem auto 2rem auto;
    display: block;
    width: 12rem;
}

#bottom_header {
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    text-overflow: clip;
    margin: 0 0 1rem 6rem;
    padding: 4rem 0;
    color: white;
    display: inline-block;
}

footer {
    background-color: black;
    height: 700px;
}